$grey-scale-1: #bfbfbf;
$grey-scale-2: #a4a4a4;
$grey-scale-3: #ddd;
$grey-scale-4: #d0d0d0;

$black-scale-1: #323232;

$white-scale-1: #f8f8f9;
$white-scale-2: #dbd5d5;

$blue-scale-1: #01bef3;

$black: black;
$white: white;