@import '../../styles/variables.scss';

.header {
  height: 50vh;
  position: relative;
  .navigation {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 60px;
    justify-content: space-between;
    background-color: transparent;
    select {
      border-style: unset;
      background: transparent;
      color: $white-scale-1;
      -webkit-appearance: none;
      appearance: none;
    }
    .icon-caret {
      color: $white-scale-1;
    }
    .menu {
      div {
        width: 25px;
        height: 2px;
        background-color: $white-scale-1;
        margin: 5px 0;
      }
    }
    @media screen and (max-width: 412px) {
      padding: 10px 40px;
    }
  }
  .content {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 30%;
    .heading {
      font-weight: 800;
      font-size: 25px;
    }
    .sub-heading {
      font-size: 12px;
      color: $white-scale-2;
      font-weight: bold;
    }
    .cta-button {
      border-radius: 25px;
      font-size: 12px;
      padding: 10px 30px;
      background: $blue-scale-1;
      border-color: $blue-scale-1;
      color: $white;
    }
    @media only screen and (max-width: 412px) {
      position: absolute;
      width: 40%;
      .heading {
        font-size: 18px;
      }
      .sub-heading {
        font-size: 10px;
      }
      .cta-button {
        padding: 5px 15px;
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    height: 40vh;
  }
  @media only screen and (max-width: 412px) {
    height: 30vh;
  }
}